.weather-info {

  &__info-list {
    margin: 0 9%;

    &-item {
      display: flex;
      justify-content: center;
      color: #656565;
      font-size: 14px;

      strong, span {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

}
